body {
  text-align: center;
}

.booksContainer {
  border: 1px solid black;
    width: 320px;
    margin: auto;
}

.singleBook {
  display: flex;
    justify-content: space-between;
    padding: 5px;
}

.whiteBackground {
  background-color: white;
}

.blackBackground {
  background-color: lightgray;
}

.hr_color {
  width: 25%;
  border-color: black;
}

.inputContainer {
  margin-top: 15px;
}

.buttonShadow {
  box-shadow: 2px 2px black;
}