body {
  text-align: center;
}

.booksContainer {
  border: 1px solid black;
  width: 320px;
  margin: auto;
}

.singleBook {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.whiteBackground {
  background-color: white;
}

.blackBackground {
  background-color: lightgray;
}

.hr_color {
  width: 25%;
  border-color: black;
}

.inputContainer {
  margin-top: 15px;
}

.inputContainer input {
  margin-bottom: 6px;
  border: 2px solid black;
}

.inputContainer input::placeholder {
  color: black;
  font-size: 11px;
  font-weight: 800;
}

.buttonShadow {
  box-shadow: 2px 2px black;
}

.btn-container {
  margin-left: 100px;
}

.btn {
  font-size: 18px;
  max-width: 8%;

  /* width: 10em; */
  margin: 5px;
  color: black;
  background-color: #fff;
}
